<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gplvote.trustnet" >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trustnet_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AServers"
                  android:screenOrientation="portrait"
                  android:label="Trust Net Servers">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trustnet" android:host="regserver"/>
            </intent-filter>
        </activity>
        <activity android:name=".AConfirmOther"
                  android:screenOrientation="portrait"
                  android:label="Trust Net Verification" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trustnet" android:host="verification"/>
            </intent-filter>
        </activity>
        <activity android:name=".ATrustChange"
            android:screenOrientation="portrait"
            android:label="Trust Net">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trustnet" android:host="trust"/>
            </intent-filter>
        </activity>
        <activity android:name=".ATagType"
            android:screenOrientation="portrait"
            android:label="Trust Net">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trustnet" android:host="taginfo"/>
            </intent-filter>
        </activity>
        <activity android:name=".ATagChange"
            android:screenOrientation="portrait"
            android:label="Trust Net">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trustnet" android:host="tag"/>
            </intent-filter>
        </activity>
        <activity android:name=".AMessageCreate"
            android:screenOrientation="portrait"
            android:label="Trust Net Message">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trustnet" android:host="message"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trustnet" android:host="msg"/>
            </intent-filter>
        </activity>
        <activity android:name=".AServerView" android:screenOrientation="portrait"/>
        <activity android:name=".AServersSync" android:screenOrientation="portrait" />
        <activity android:name=".AAboutMe" android:screenOrientation="portrait" />
        <activity android:name=".AAboutMeEdit" android:screenOrientation="portrait" />
        <activity android:name=".ASendSign" android:screenOrientation="portrait" />
        <activity android:name=".AConfirmMe" android:screenOrientation="portrait"/>
        <activity android:name=".AAttestations" android:screenOrientation="portrait"/>
        <activity android:name=".AAttestateView" android:screenOrientation="portrait"/>
        <activity android:name=".ATrusts" android:screenOrientation="portrait"/>
        <activity android:name=".ATrustMe" android:screenOrientation="portrait"/>
        <activity android:name=".ATags" android:screenOrientation="portrait"/>
        <activity android:name=".AMessages" android:screenOrientation="portrait"/>
        <activity android:name=".AMessagesCheck" android:screenOrientation="portrait"/>
        <activity android:name=".AGetPublicKey" android:screenOrientation="portrait"/>
    </application>

</manifest>
